<ion-view view-title="Browse">
  <ion-content>
    <h1>Dispositivo</h1>
    <form action="">
    	
    	<label for="temperature">Temperatura</label>
    	<input type="number" name="temperature" id="temperature">
    	<label for="waterTimer">Timer Água (minutos)</label>
    	<input type="number" name="waterTimer" id="waterTimer">
    	<label for="lightTimer">Timer Luz (minutos)</label>
    	<input type="number" name="lightTimer" id="lightTimer">
    	<label for="lightDuration">Duração Luz (minutos)</label>
    	<input type="number" name="lightDuration" id="lightDuration">
			<button type="submit">Enviar</button>
    </form>
  </ion-content>
</ion-view>
