<ion-view view-title="Dispositivos">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="device in devices" href="#/app/device/{{device._id}}">
        {{device._id}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
