<ion-view view-title="Dipositivo">
  <ion-header-bar>
    <h1 class="title">Dispositivo</h1>
    <!-- <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div> -->
  </ion-header-bar>
  <ion-content>

    
    <form ng-submit="updateDevice()">
        <div class="list">

            <label for="temperature" class="item item-input">
                <span class="input-label">Temperatura</span>
                <input type="number" name="temperature" id="temperature" ng-model="deviceData.temperature">
            </label>
        	<label for="waterTimer" class="item item-input"> 
                <span class="input-label">Timer Água (minutos)</span>
                <input type="number" name="waterTimer" id="waterTimer" ng-model="deviceData.waterTimer">
            </label>
        	<label for="lightTimer" class="item item-input"> 
                <span class="input-label">Timer Luz (minutos)</span>
                <input type="number" name="lightTimer" id="lightTimer" ng-model="deviceData.lightTimer">
            </label>
        	<label for="lightDuration" class="item item-input">
                 <span class="input-label">Duração Luz (minutos)</span>
                 <input type="number" name="lightDuration" id="lightDuration" ng-model="deviceData.lightDuration">
            </label>
            
            <label for="lightStatus" class="item item-checkbox">
                
                <ion-checkbox ng-checked="deviceData.lightStatus" ng-model="deviceData.lightStatus">Status da Luz</ion-checkbox>

            </label>

            <label class="item">
              <button class="button button-block button-positive" type="submit">Enviar</button>
            </label>

            <label  ng-if="successDevice" class="item">
                <p>{{messageDevice}}</p>
            </label>
            
        </div>
    </form>
  </ion-content>
</ion-view>
