<ion-view view-title='Home'>
  <ion-content>
    <ion-list>

        <ion-item menu-close ng-if="!isLogged" ng-click="login()">
          Login
        </ion-item>

        <ion-item menu-close ng-if="!isLogged" ng-click="signup()">
          Cadastro
        </ion-item>

        <ion-item menu-close ng-if="isLogged" ng-click="logout()">
          Logout
        </ion-item>

        <ion-item href="#/app/validate" ng-if="isLogged">
          Ativar nova e-stufa
        </ion-item>

        <ion-item href="#/app/wifiConfigure">
          Conectar e-stufa na internet
        </ion-item>

       <!--  <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item> -->
        <ion-item ng-if="isLogged" menu-close href="#/app/devices">
          Dispositivos
        </ion-item>
      </ion-list>
    

  </ion-content>
</ion-view>
