<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Carregando...</h1>
   <!--  <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()" style="color: #333">Close</button>
    </div> -->
  </ion-header-bar>
  <ion-content>
    
  </ion-content>
</ion-modal-view>
