<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()" style="color: #333">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">E-mail</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>

        <div ng-if="successLogin == false">
          <p>{{messageLogin}}</p>
        </div>

        <!-- <div ng-if="successLogin == true">
          <p>Entrando...</p>
        </div> -->
      </div>
    </form>
  </ion-content>
</ion-modal-view>
