<ion-side-menus enable-menu-with-back-views="false" ng-controller="AppCtrl">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <img style="max-height: 30px;" src="img/logo-e-stufa.png" alt="Logo e-stufa" id="logo-vantago">
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item menu-close ng-if="!isLogged" ng-click="login()">
          Login
        </ion-item>

        <ion-item menu-close ng-if="isLogged" ng-click="logout()">
          Logout
        </ion-item>

        <ion-item ng-if="isLogged" menu-close href="#/app/devices">
          Dispositivos
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
