<ion-view view-title="Cadastrar e-stufa">
  <ion-content>

      <form ng-submit="doValidate()"><!-- method='get' action='wifisave'> -->
      <div class="list">
        <label class="item">
        <p style="color: red; font-size:10px">Cadastre a sua e-stufa</p>
        </label>
        <label class="item item-input">
        <span class="input-label">SERIAL KEY</span>
        <input type="text" ng-model="validateData.serial">
        </label>
        
        <label class="item">
        <button class="button button-block button-positive" type="submit">Cadastrar</button>
        </label>

     
        <div ng-if="successValidate">
          <p>{{ message }}</p>
        </div>
      </div>
      </form>

  </ion-content>
</ion-view>