<ion-view view-title="WifiConfigure">
  <ion-content>

      <form ng-submit="submitWifiInfo()"><!-- method='get' action='wifisave'> -->
      <div class="list">
        <label class="item">
        <p style="color: red; font-size:10px">Conecte-se à rede <b>e-stufaWifi</b> antes de conectar sua e-stufa na internet</p>
        </label>
        <label class="item item-input">
        <span class="input-label">Nome da Rede (SSID)</span>
        <input type="text" ng-model="wifiData.ssid">
        </label>
        <label class="item item-input">
        <span class="input-label">Senha da Rede</span>
        <input type="password" ng-model="wifiData.password">
        </label>
        <label class="item">
        <button class="button button-block button-positive" type="submit">Conectar</button>
        </label>

        <label class="item">
          <div ng-if="statusConnection" style="backgroud: green">
           <p style="color: green"><b>E-stufa configurada com sucesso!</b></p>
          </div>
        </label>
        <!-- <div ng-if="successLogin == true">
        <p>Entrando...</p>
        </div> -->
      </div>
      </form>

  </ion-content>
</ion-view>